<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <base href="/" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Register</h1>
      <form id="register-form">
        <input id="register-name" type="text" placeholder="User name" />
        <input id="register-password" type="password" placeholder="Password" />
        <input
          id="register-password--repeat"
          type="password"
          placeholder="Confirm password"
        />
        <input id="register-email" type="text" placeholder="E-mail address" />
      </form>
      <p class="">Have an account?</p>
      <button class="button" id="register-btn">Login</button>
    </div>
  </body>
</html>
