<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>login</h1>
    <input id="name" type="text" placeholder="User name" />
    <input type="text" placeholder="Password" />
    <input type="text" placeholder="Confirm password" />
    <input id="email" type="text" placeholder="E-mail address" />
    <p>Have an account?</p>
    <button>Login</button>
  </body>
</html>
